body{
  background-color: rgb(182, 160, 196);
  display: grid;
  height: 100vh;
  place-items: center;
  grid-template-columns: 1fr;
}
#display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
button{
  padding: 30px;
  margin: 3px;
  background-color: rgb(49, 7, 73);
  color: white;
  outline: none;
}